node_red_cansat.txt
[{"id":"91d63b6b.b3afc8","type":"tab","label":"CanSat","disabled":false,"info":""},{"id":"afb8fee1.34332","type":"serial in","z":"91d63b6b.b3afc8","name":"COM4","serial":"dbc2d1d6.403c7","x":90,"y":60,"wires":[[]]},{"id":"d5ae0d13.9640c","type":"inject","z":"91d63b6b.b3afc8","name":"Datos","topic":"","payload":"'2019/1/1 00:14:36';500;11.234324;-74.123456;11;0;5;5;8;1;21.2112;10.2587;123.25;500","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":140,"wires":[["fdbd912d.d8246"]]},{"id":"84856a.485d9a98","type":"split","z":"91d63b6b.b3afc8","name":"","splt":";","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":320,"wires":[["42bdddd9.b77134","94d30cad.b9718"]]},{"id":"fdbd912d.d8246","type":"function","z":"91d63b6b.b3afc8","name":"Catch Error","func":"if(msg.payload == \"error\"){\n    node.error(\"Sin informacion, no se puede agregar informacion a la base de datos\",msg);\n} else {\n   return msg; \n}\n","outputs":1,"noerr":0,"x":230,"y":200,"wires":[["77421732.3d2508","c1f7197c.5d4ed8"]]},{"id":"42bdddd9.b77134","type":"debug","z":"91d63b6b.b3afc8","name":"TextIn","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":480,"wires":[]},{"id":"94d30cad.b9718","type":"switch","z":"91d63b6b.b3afc8","name":"Data","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"}],"checkall":"true","repair":false,"outputs":14,"x":690,"y":320,"wires":[["119ac28b.ebe70d","c077669d.b30728"],["7db73b99.68e5f4"],["3e5825ca.6c52fa"],["da25c338.28e46"],["d53f8262.aeedb"],["c1259d9c.be915"],["a9ff1b7c.201e58"],["7e3b2c2e.4501e4"],["2f6a43f2.2cd46c"],["c6a0d130.1c8bd"],["a60cbf7.6acab4"],["4a2d9ef0.254b3"],["4ab06416.af720c"],["633332c7.fa5d8c"]]},{"id":"f4fc9bfc.ce82e8","type":"debug","z":"91d63b6b.b3afc8","name":"Num High","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1140,"y":60,"wires":[]},{"id":"119ac28b.ebe70d","type":"ui_text","z":"91d63b6b.b3afc8","group":"4915f9a1.4c7558","order":1,"width":0,"height":0,"name":"Time","label":"Fecha y Hora","format":"{{msg.payload}}","layout":"col-center","x":770,"y":60,"wires":[]},{"id":"af12f0bd.a7443","type":"ui_chart","z":"91d63b6b.b3afc8","name":"High","group":"c5b17397.83fba","order":2,"width":0,"height":0,"label":"Altura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1130,"y":20,"wires":[[]]},{"id":"1a9021cf.48719e","type":"ui_chart","z":"91d63b6b.b3afc8","name":"Latitud","group":"c5b17397.83fba","order":4,"width":0,"height":0,"label":"Latitud","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1310,"y":80,"wires":[[]]},{"id":"f70c576c.6d9988","type":"ui_chart","z":"91d63b6b.b3afc8","name":"Longitud","group":"c5b17397.83fba","order":5,"width":0,"height":0,"label":"Longitud","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1140,"y":140,"wires":[[]]},{"id":"5a1d16e5.b8b588","type":"ui_gauge","z":"91d63b6b.b3afc8","name":"AccX","group":"70d7706c.c4c7d","order":6,"width":0,"height":0,"gtype":"gage","title":"Acelaracion X","label":"m/s","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"75","seg2":"90","x":1310,"y":200,"wires":[]},{"id":"b16b726b.d16f1","type":"ui_gauge","z":"91d63b6b.b3afc8","name":"AccY","group":"70d7706c.c4c7d","order":7,"width":0,"height":0,"gtype":"gage","title":"Acelaracion Y","label":"m/s","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"75","seg2":"90","x":1130,"y":260,"wires":[]},{"id":"29660a0c.a57e86","type":"ui_gauge","z":"91d63b6b.b3afc8","name":"AccZ","group":"70d7706c.c4c7d","order":8,"width":0,"height":0,"gtype":"gage","title":"Acelaracion Z","label":"m/s","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"75","seg2":"90","x":1310,"y":320,"wires":[]},{"id":"d19469ac.0b46d8","type":"ui_gauge","z":"91d63b6b.b3afc8","name":"gyroX","group":"55bfb0f6.1039a","order":9,"width":0,"height":0,"gtype":"gage","title":"Giroscopio X","label":"rpm","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"75","seg2":"90","x":1130,"y":380,"wires":[]},{"id":"a96d8056.45639","type":"ui_gauge","z":"91d63b6b.b3afc8","name":"gyroY","group":"55bfb0f6.1039a","order":10,"width":0,"height":0,"gtype":"gage","title":"Giroscopio Y","label":"rpm","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"75","seg2":"90","x":1310,"y":440,"wires":[]},{"id":"8a24ae1c.92294","type":"ui_gauge","z":"91d63b6b.b3afc8","name":"gyroZ","group":"55bfb0f6.1039a","order":11,"width":0,"height":0,"gtype":"gage","title":"Giroscopio Z","label":"rpm","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"75","seg2":"90","x":1130,"y":500,"wires":[]},{"id":"c7b52626.51d978","type":"ui_gauge","z":"91d63b6b.b3afc8","name":"Presion","group":"4915f9a1.4c7558","order":12,"width":0,"height":0,"gtype":"gage","title":"Presion","label":"PSI","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":1320,"y":560,"wires":[]},{"id":"d370d400.e5de18","type":"ui_chart","z":"91d63b6b.b3afc8","name":"altura","group":"c5b17397.83fba","order":3,"width":0,"height":0,"label":"Altura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1310,"y":680,"wires":[[]]},{"id":"f7195dc3.5b6af","type":"ui_chart","z":"91d63b6b.b3afc8","name":"Temp","group":"4915f9a1.4c7558","order":13,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1130,"y":620,"wires":[[]]},{"id":"844e3ef2.90286","type":"ui_gauge","z":"91d63b6b.b3afc8","name":"Aire","group":"4915f9a1.4c7558","order":14,"width":0,"height":0,"gtype":"gage","title":"Calidad Aire","label":"ppm CO2","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"650","seg2":"800","x":1130,"y":740,"wires":[]},{"id":"c077669d.b30728","type":"debug","z":"91d63b6b.b3afc8","name":"Date","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":20,"wires":[]},{"id":"7db73b99.68e5f4","type":"change","z":"91d63b6b.b3afc8","name":"ToNumber","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":40,"wires":[["af12f0bd.a7443","f4fc9bfc.ce82e8"]]},{"id":"3e5825ca.6c52fa","type":"change","z":"91d63b6b.b3afc8","name":"ToNumber","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":100,"wires":[["1a9021cf.48719e","144917fc.ae5928"]]},{"id":"da25c338.28e46","type":"change","z":"91d63b6b.b3afc8","name":"ToNumber","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":160,"wires":[["f70c576c.6d9988","73ff695b.924e98"]]},{"id":"d53f8262.aeedb","type":"change","z":"91d63b6b.b3afc8","name":"ToNumber","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":220,"wires":[["5a1d16e5.b8b588","e1e24cb0.6ebd2"]]},{"id":"c1259d9c.be915","type":"change","z":"91d63b6b.b3afc8","name":"ToNumber","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":280,"wires":[["b16b726b.d16f1","dbb2fa93.837998"]]},{"id":"a9ff1b7c.201e58","type":"change","z":"91d63b6b.b3afc8","name":"ToNumber","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":340,"wires":[["29660a0c.a57e86","413d62f7.9a562c"]]},{"id":"7e3b2c2e.4501e4","type":"change","z":"91d63b6b.b3afc8","name":"ToNumber","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":400,"wires":[["d19469ac.0b46d8","aa082a61.65f678"]]},{"id":"2f6a43f2.2cd46c","type":"change","z":"91d63b6b.b3afc8","name":"ToNumber","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":460,"wires":[["a96d8056.45639","6bfec702.2bf578"]]},{"id":"c6a0d130.1c8bd","type":"change","z":"91d63b6b.b3afc8","name":"ToNumber","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":520,"wires":[["8a24ae1c.92294","67b1b7c7.e7d398"]]},{"id":"a60cbf7.6acab4","type":"change","z":"91d63b6b.b3afc8","name":"ToNumber","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":580,"wires":[["c7b52626.51d978","94b549ed.90a808"]]},{"id":"4a2d9ef0.254b3","type":"change","z":"91d63b6b.b3afc8","name":"ToNumber","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":640,"wires":[["f7195dc3.5b6af","3b33062c.f02cba"]]},{"id":"4ab06416.af720c","type":"change","z":"91d63b6b.b3afc8","name":"ToNumber","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":700,"wires":[["d370d400.e5de18","f44cbab7.a0f8b8"]]},{"id":"633332c7.fa5d8c","type":"change","z":"91d63b6b.b3afc8","name":"ToNumber","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":760,"wires":[["844e3ef2.90286","6f598740.dd5f28"]]},{"id":"144917fc.ae5928","type":"debug","z":"91d63b6b.b3afc8","name":"Num Latitud","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1330,"y":120,"wires":[]},{"id":"73ff695b.924e98","type":"debug","z":"91d63b6b.b3afc8","name":"Num Longitud","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1140,"y":180,"wires":[]},{"id":"e1e24cb0.6ebd2","type":"debug","z":"91d63b6b.b3afc8","name":"Num AccX","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1330,"y":240,"wires":[]},{"id":"dbb2fa93.837998","type":"debug","z":"91d63b6b.b3afc8","name":"Num AccY","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":300,"wires":[]},{"id":"413d62f7.9a562c","type":"debug","z":"91d63b6b.b3afc8","name":"Num AccZ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1330,"y":360,"wires":[]},{"id":"aa082a61.65f678","type":"debug","z":"91d63b6b.b3afc8","name":"Num GyroX","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":420,"wires":[]},{"id":"6bfec702.2bf578","type":"debug","z":"91d63b6b.b3afc8","name":"Num GyroY","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1330,"y":480,"wires":[]},{"id":"67b1b7c7.e7d398","type":"debug","z":"91d63b6b.b3afc8","name":"Num GyroZ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":540,"wires":[]},{"id":"94b549ed.90a808","type":"debug","z":"91d63b6b.b3afc8","name":"Num Presion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1330,"y":600,"wires":[]},{"id":"3b33062c.f02cba","type":"debug","z":"91d63b6b.b3afc8","name":"Num Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":660,"wires":[]},{"id":"f44cbab7.a0f8b8","type":"debug","z":"91d63b6b.b3afc8","name":"Num Altura","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1330,"y":720,"wires":[]},{"id":"6f598740.dd5f28","type":"debug","z":"91d63b6b.b3afc8","name":"Num Aire","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1140,"y":780,"wires":[]},{"id":"77421732.3d2508","type":"function","z":"91d63b6b.b3afc8","name":"SQL Query","func":"msg.topic = \"INSERT INTO cansat.data ( `time`, `elevation`,`latitud`,`longitud`,`acc_x`,`acc_y`,`acc_z`,`gyro_x`,`gyro_y`,`gyro_z`,`pressure`,`temp`,`altimeter`,`ppm_co2`) VALUES ( \"+ msg.payload.replace(/;/g, \",\").replace(/\\//g, \"-\") +\");\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":420,"wires":[["c6ce6f24.6f628","d8e79d4d.75181"]]},{"id":"c6ce6f24.6f628","type":"debug","z":"91d63b6b.b3afc8","name":"MYSQL txt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":540,"wires":[]},{"id":"d8e79d4d.75181","type":"mysql","z":"91d63b6b.b3afc8","mydb":"18a9c9.86ab4637","name":"Insert Data","x":570,"y":600,"wires":[["af180af3.35caf8"]]},{"id":"af180af3.35caf8","type":"debug","z":"91d63b6b.b3afc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":700,"wires":[]},{"id":"c1f7197c.5d4ed8","type":"function","z":"91d63b6b.b3afc8","name":"Replace","func":"msg.payload = msg.payload.replace(/'/g, \"\");\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":260,"wires":[["84856a.485d9a98","db22535a.04924"]]},{"id":"db22535a.04924","type":"debug","z":"91d63b6b.b3afc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":200,"wires":[]},{"id":"dbc2d1d6.403c7","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"0","bin":"bin","out":"time","addchar":"false","responsetimeout":""},{"id":"4915f9a1.4c7558","type":"ui_group","z":"","name":"Estado","tab":"35c4cda6.4bfd82","disp":true,"width":"6","collapse":false},{"id":"c5b17397.83fba","type":"ui_group","z":"","name":"Posicion","tab":"35c4cda6.4bfd82","order":4,"disp":true,"width":"6","collapse":false},{"id":"70d7706c.c4c7d","type":"ui_group","z":"","name":"Aceleracion","tab":"35c4cda6.4bfd82","order":3,"disp":true,"width":"6","collapse":false},{"id":"55bfb0f6.1039a","type":"ui_group","z":"","name":"Giro","tab":"35c4cda6.4bfd82","order":2,"disp":true,"width":"6","collapse":false},{"id":"18a9c9.86ab4637","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"cansat","tz":""},{"id":"35c4cda6.4bfd82","type":"ui_tab","z":"","name":"CanSat","icon":"dashboard","disabled":false,"hidden":false}]
